/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 jun. 2024, 04:39:06
    Author     : HP VICTUS
*/
body {
    font-family: Arial, sans-serif;
    background-color: hsla(180, 90%, 49%, 0.893);
    margin: 0;
    padding: 0;
}

.header {
    background-color:hsla(180, 90%, 49%, 0.893);
    padding: 10px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header h1 {
    margin: 0;
    color: #000;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button:hover {
    background-color: #d61308;
    color: #fff;
}

.content {
    margin-top: 20px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-block {
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

.contact-info a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    color: #d61308;
}

